flask
requests-cache
pre-commit
python-dotenv
newsdataapi
bs4
py-pipelines
langchain
google-generativeai
datasets
sacrebleu 
rouge_score 
py7zr
pandas
nltk
tqdm
PyYAML
matplotlib
notebook
ipykernel
boto3
mypy-boto3-s3

